.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
}

.container {
    align-items: center;
}

.header {
    display: inline;
}

.cardFront {
    display: inline;
}

.cardBack {
    display: inline;
}
